@media (min-width: 800px) {
    main#container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 90vw;
    }

    section#text {
        width: 500px;
        text-align: left;
    }

    section#text h1 {
        font-size: 44px;
        font-weight: 600;
    }

    section#container-free-trial {
        margin-left: 50px;
        max-width: 500px;
    }

}